@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align:center;">Text To Speech Converting App</h1>

<p style="color:Black; font-family:courier;text-align:center;background-color:powderblue;font-size:160%;font-weight:bold;">@TempData["TextData"]</p>
<audio controls>
    <source src="audio\output.mp3" type="audio/mp3">

</audio>
